[Unit]
Description=NFS Automount Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/systemd/scripts/nfs-automount

[Install]
WantedBy=default.target
