[Unit]
Description=rtorrent Service
After=network.target

[Service]
ExecStart=/usr/bin/screen -dmS rtorrent rtorrent
ExecStop=/usr/bin/screen -S rtorrent -X quit

[Install]
WantedBy=default.target
