[Unit]
Description=irssi Service
After=network.target

[Service]
ExecStart=/usr/bin/screen -dmS irssi irssi
ExecStop=/usr/bin/screen -S irssi -X quit

[Install]
WantedBy=multi-user.target
