[Unit]
Description=Irssi Service
After=network.target

[Service]
ExecStart=/usr/bin/screen -dmS irssi irssi
ExecStop=/usr/bin/screen -S irssi -X quit

[Install]
WantedBy=default.target
