[Unit]
Description=Shadowsocks
After=network.target

[Service]
ExecStart=/usr/bin/ss-local -c /etc/shadowsocks/default.json

[Install]
WantedBy=default.target
