[Unit]
Description=mpd Service

[Service]
Type=forking
User=%i
ExecStart=/usr/bin/mpd ${HOME}/.mpd/mpd.conf
ExecStop=/usr/bin/mpd --kill

[Install]
WantedBy=multi-user.target
