[Unit]
Description=Transmission User Service by %u
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/transmission-daemon -f --log-error

[Install]
WantedBy=default.target
